'.source.css.scss, .source.scss, .source.css.sass, .source.sass':
  'Kickoff - respond-max() (Media Query) mixin':
    'prefix': 'rminmax'
    'body': """
      @include ko-respond-min-max(${1:narrow}, ${2:large}) {
      	$0
      }
    """
